.container{
    max-width: 1300px !important;
    margin: 0 auto;
    height: auto;
    position: relative;
}

@media(max-width : 1300px){
    .container{
        padding: 0 1.5rem;
    }
}

.projectsContainer{
    margin: 0;
    position: relative;
}

.projectsContainer h5{
    font-size: 1.5rem;
    font-size: 600;
    margin-bottom: 3rem;
}



.arrow-left,
.arrow-right{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #73D9EF;
    border-radius: 0.65rem;
    border: 1.5px solid #73D9EF;
    position: absolute;
    top: 55%;
    z-index: 2;
    cursor: pointer;

}

.arrow-left span,
.arrow-right span{
    font-size: 2rem;
    font-weight: 500;
}

.arrow-left{
    left: -1.5rem;
}

.arrow-right{
    right: -1.5rem;
}


.skillsContainer{
    margin: 4rem 0;
    position: relative;
    padding: 10px 10px 10px 10px;
}

.skillsContainer h5{
    font-size: 2rem;
    font-size: 600;
    margin-bottom: 3rem;
    
}

.sOuter{
    padding: 10;
}

.aboutContainer{
    margin: 4rem 0;
    position: relative;
    padding: 10px 10px 10px 10px;
   
}

.aboutContainer h5{
    font-size: 2rem;
    font-size: 600;
    margin-bottom: 3rem;
}

.contact-container h5{
    font-size: 2rem;
    font-size: 600;
    margin-bottom: 3rem;
}

.contact-container p{
    padding-left: 2rem;
}

@media(max-width: 1025px){
    .arrow-left{
        left: 0rem;
    }

    .arrow-right{
        right: 0rem;
    }
}

.contact-container{
    margin: 0;
}

